[submodule "modules/lv2cairo"]
	path = modules/lv2cairo
	url = https://github.com/rerdavies/lv2cairo
	update = merge
[submodule "modules/NeuralAudio"]
	path = modules/NeuralAudio
	url = https://github.com/mikeoliphant/NeuralAudio
